---
layout: layout/base.njk

tags:
  - "COURS"

eleventyComputed:
  eleventyNavigation:
    key: "{{ page.url }}"
    title: "{{ title | safe }}"
---

<script>
    const SIDEBAR_STATE_KEY = "courseSidebarState";

    function toggleFold(button) {
        // Find the closest parent <li> and its corresponding nested <ul>
        const listItem = button.closest('li');
        const nestedList = listItem.querySelector('.nested');

        if (nestedList) {
            const isActive = nestedList.classList.toggle('active'); // Toggle the 'active' class
            button.classList.toggle('active', isActive); // Toggle button rotation
            saveSidebarState();
        }
    }

    function saveSidebarState() {
        const state = {};
        const nestedLists = document.querySelectorAll('.sidebar-navigation .nested');
        nestedLists.forEach((list, index) => {
            state[index] = list.classList.contains('active');
        });
        localStorage.setItem(SIDEBAR_STATE_KEY, JSON.stringify(state));
    }

    function restoreSidebarState() {
        const state = JSON.parse(localStorage.getItem(SIDEBAR_STATE_KEY));
        if (!state) return;

        const nestedLists = document.querySelectorAll('.sidebar-navigation .nested');
        nestedLists.forEach((list, index) => {
            if (state[index]) {
                list.classList.add('active');
                const button = list.parentNode.querySelector('.course-sidebar-item-toggle-button'); // Correctly locate the button
                if (button) {
                    button.classList.add('active'); // Rotate the button
                }
            }
        });
    }

    document.addEventListener("DOMContentLoaded", () => {
        restoreSidebarState();
    });

let lastScrollYCourses = window.scrollY;

function toggleCourseSidebar() {
    document.getElementById('course-sidebar').classList.toggle('open');
}

window.addEventListener('scroll', () => {
    const burger = document.getElementById('course-burger-button');
    const sidebar = document.getElementById('course-sidebar');
    const currentScroll = window.scrollY;
    // Hide the burger button if max width is reached
    if (window.innerWidth > 1536) {
        burger.style.display = 'none';
    } else if (currentScroll < 10 || currentScroll < lastScrollYCourses) {
        burger.style.display = 'block';
    } else if (!sidebar || !sidebar.classList.contains('open')) {
        burger.style.display = 'none';
    }

    lastScrollYCourses = currentScroll;
});
</script>

<button id="course-burger-button" class="sidebar-burger-button left-2" onclick="toggleCourseSidebar()">☰</button>

<nav id="course-sidebar" class="sidebar left-0 border-r-2 -translate-x-full 2xl:translate-x-0">
    <article><h2>Cours</h2></article>
    <ul class="sidebar-navigation space-y-2">
        {% from 'macros/render-navigation.njk' import renderNavigation %}
        {% for category in courses.sidebar %}
            {{ renderNavigation(category) }}
        {% endfor %}
    </ul>
</nav>

<article class="relative">
<h1  {% if tags or authors %}class="mb-1"{% endif %}>{{ title }}</h1>
<div {% if tags or authors %}class="mb-4"{% endif %}>
    {% if tags %}
        <div class="px-4 flex flex-wrap items-center">
            {% if tags | length > 1 %}
                <div class="font-bold">Tags : </div>
            {% else %}
                <div class="font-bold">Tag : </div>
            {% endif %}
            <ul class="flex flex-wrap overflow-auto not-prose list-none my-1 mx-0 px-1 gap-1" data-pagefind-meta="Tags">
                {% for tag in tags %}
                    <li class="bg-yellow-200 rounded-full px-2" data-pagefind-filter="Tags">{{ tag }}</li>
                {% endfor %}

            </ul>

            {# Gestion des tags #}
            <div class="hidden" data-pagefind-meta="Type">
                {% for tag in tags %}
                    {% if tag == "mon" %}
                        <span data-pagefind-filter="Type">MON</span>
                    {% elseif tag == "pok" %}
                        <span data-pagefind-filter="Type">POK</span>
                    {% elseif tag == 'cs' %}
                        <span data-pagefind-filter="Type">CS</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if authors %}
        <div class="px-4 flex flex-wrap items-center">
            <div class="font-bold">Auteurs : </div>
            <ul class="flex flex-wrap not-prose list-none my-1 mx-0 px-1 gap-1" data-pagefind-meta="Auteurs">
                {% for author in authors %}
                    <li class="bg-blue-200 rounded-full px-2" data-pagefind-filter="Auteurs">{{ author }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if year %}
        <div class="absolute top-0 right-0">
            <span class="bg-purple-200 rounded-full px-3 py-1 mt-2 mr-2" data-pagefind-filter="Année">
                {{ year }}
            </span>
        </div>
    {% endif%}
</div>
{% if résumé %}
        <p class="mb-4 text-lg">

                {{ résumé | safe }}

        </p>
{% endif %}

{{ content | safe }}

</article>
