---
layout: layout/post.njk

eleventyComputed:
  tags:
    - "{{ page.url | getYearFromUrl }}"
    - "MON"
    - "index"
  eleventyNavigation:
    key: "{{ page.url }}"
    title: "{{ title | safe }}"
    parent: "{{ page.url | parentUrl }}"
---

{{ content | safe }}
