---
layout: layout/post.njk

tags:
  - "POK"

eleventyComputed:
  year: "{{ page.url | getYearFromUrl }}"
  eleventyNavigation:
    key: "{{ page.url }}"
    title: "{{ title | safe }}"
    parent: "{{ page.url | parentUrl }}"
---

{{ content | safe }}
