---
layout: layout/post.njk

eleventyComputed:
  tags: 
    - "PROFILE"
    - "{{ page.url | getYearFromUrl }}"
  eleventyNavigation:
    key: "{{ page.url }}"
    title: "{{ title | safe }}"
    parent: "{{ page.url | parentUrl }}"
    studentName: "{{ title | safe }}"
---

{{ content | safe }}
