@import 'tailwindcss';
@import './sidebar.css';

@config '../../../tailwind.config.js';

@theme {
    --color-info: #93c47d;
    --color-mgt: #a9c6f4;
    --color-gp: #f5cfcf;

}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer base {
    body {
        @apply font-sans;
    }

    img:not([class*="img-"]) {
        @apply mx-auto;
        @apply border-4 rounded-sm p-0 m-4 max-w-[90%] mx-auto;
    }

    h2 {
        @apply border-black border-0 border-b-4 border-solid;
    }

    h3 {
        @apply border-black border-b-2 border-solid;
    }

    h4 {
        @apply border-black border-b border-solid;
    }

    h5 {
        @apply border-black border-b border-dashed font-bold mt-6 mb-2;
    }

    mjx-container[jax="SVG"]>svg {
        display: inline;
    }

    summary p {
        @apply m-0 inline-block;
    }

    article {
        @apply max-w-none prose prose-slate;
    }

    blockquote {
        @apply border-l-8;
    }

    code[class*=language-]::before,
    code[class*=language-]::after {
        content: "";
    }

    table.no-border tr {
        @apply border-none;
    }

    .prose .fichier {
        @apply underline decoration-1;
    }

    .quote p,
    .quote ul,
    .quote ol,
    .quote li {
        @apply m-0;
    }

    details p {
        @apply mb-0;
    }

    /* For Safari details render */
    details>summary::-webkit-details-marker {
        display: none;
    }

}

@layer components {

    a:not([class]),
    a:not([class]):visited {
        @apply underline decoration-purple-500 decoration-2 hover:text-purple-800 hover:decoration-purple-800 active:decoration-4;
    }

    .img-big-banner {
        @apply max-w-full;
    }

    .img-banner {
        @apply max-w-[80%];
    }

    .img-small-banner {
        @apply max-w-[60%];
    }

    .img-huge-icon {
        @apply max-w-[300px] max-h-[300px];
    }

    .img-bigger-icon {
        @apply max-w-[200px] max-h-[200px];
    }

    .img-big-icon {
        @apply max-w-[100px] max-h-[100px];
    }

    .img-icon {
        @apply max-w-[50px] max-h-[50px];
    }

    .img-small-icon {
        @apply max-w-[30px] max-h-[30px];
    }

    .img-tiny-icon {
        @apply max-w-[20px] max-h-[20px];
    }

    .img-very-tiny-icon {
        @apply max-w-[10px] max-h-[10px];
    }

    .img-big-img {
        @apply max-w-[65%];
    }

    .img-img {
        @apply max-w-[40%];
    }

    .img-small-img {
        @apply max-w-[25%];
    }

}